
<CascadingAuthenticationState>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(NotAuthorizedLayout)" >
            <NotAuthorized> 
                    <a class="btn btn-primary" href="/">Go home</a>
                    <div class="container d-flex align-items-center justify-content-center">
                        <img src="/images/notAuth.png" style="width:50%;height:50%; object-fit:cover">
                    </div>

            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(SecondaryLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState>